.App {
  margin-top: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(#224e4d, #083023 );
}

.title {
  padding-top: 20px;
  color: white;
  font-size: 55px;
  margin-top: 0;
}

.subtitle {
  margin: 5px;
  color: white;
  font-size: 20px;
}

.get-started {
  margin-top: 150px;
  padding: 10px 40px 10px 40px;
  background-color: white;
  border-radius: 12px;
  text-decoration: none;
}
